
{% extends "blog/base.html" %}
{% block homeactive %}active{% endblock homeactive %}

{% block content %}
<h3>Search Results: </h3>

    {% if posts|length < 1 %}
    
    
    <b>Your search -</b>  {{query}} - did not match any documents. <br>

<b> Suggestions: </b> 

<li> Make sure that all words are spelled correctly.</li> 
<li> Try different keywords.</li> 
<li> Try more general keywords.</li> 

    {% endif %}

    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}